In [1]:
#! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [58]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

import numpy as np # linear algebra
#import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
"""
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='white')
%matplotlib inline


import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
"""

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

Variabel explanation

CRIM     per capita crime rate by town

ZN       proportion of residential land zoned for lots over 25,000 sq.ft.

INDUS    proportion of non-retail business acres per town

CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)

NOX      nitric oxides concentration (parts per 10 million)

RM       average number of rooms per dwelling

AGE      proportion of owner-occupied units built prior to 1940

DIS      weighted distances to five Boston employment centres

RAD      index of accessibility to radial highways

TAX      full-value property-tax rate per $10,000

PTRATIO  pupil-teacher ratio by town

B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

LSTAT    % lower status of the population


---


MEDV     Median value of owner-occupied homes in $1000's

---

In [59]:
boston=load_boston()

In [60]:
from sklearn import datasets

fnames = [ i for i in dir(datasets) if 'load_' in i]
print(fnames)

fname = 'load_boston'
loader = getattr(datasets,fname)()
df = pd.DataFrame(loader['data'],columns= loader['feature_names'])
df['target'] = loader['target']

['load_boston', 'load_breast_cancer', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine']

In [87]:
df

        RM  LSTAT  INDUS  PTRATIO    TAX  target
0    6.575   4.98   2.31     15.3  296.0    24.0
1    6.421   9.14   7.07     17.8  242.0    21.6
2    7.185   4.03   7.07     17.8  242.0    34.7
3    6.998   2.94   2.18     18.7  222.0    33.4
4    7.147   5.33   2.18     18.7  222.0    36.2
..     ...    ...    ...      ...    ...     ...
501  6.593   9.67  11.93     21.0  273.0    22.4
502  6.120   9.08  11.93     21.0  273.0    20.6
503  6.976   5.64  11.93     21.0  273.0    23.9
504  6.794   6.48  11.93     21.0  273.0    22.0
505  6.030   7.88  11.93     21.0  273.0    11.9

[506 rows x 6 columns]

In [61]:
df.TAX.max()

711.0

In [62]:
feature_sel=["RM","LSTAT","INDUS","PTRATIO","TAX","target"]
df=df[feature_sel]

In [63]:
X=df.loc[:, df.columns != 'target']
y=df["target"]

In [64]:
# Split training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=100)

In [65]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Fitting the model on the tarining set and running RFE to select top 10 variables 
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [85]:

predictions = lm.predict(X_test)[0]
print(predictions.shape)
predictions_k=round(predictions)
predictions_k=predictions_k*10000

()

In [86]:
predictions_k

350000

In [67]:
from sklearn import metrics

In [68]:
print("MAE:", metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
print('R2: ',r2_score(y_test, predictions))

MAE: 3.771880624629838
MSE: 28.76710297346222
RMSE: 5.363497270761142
R2:  0.7021864228055904

In [69]:
import pickle

In [70]:
with open('lr_pickle','wb') as r:
    pickle.dump(lm,r)

In [71]:
with open('lr_pickle','rb') as r:
    linear_r=pickle.load(r)

In [72]:
y_pred=linear_r.predict(X_test)
print('R2 pickle: ',r2_score(y_test, predictions))

R2 pickle:  0.7021864228055904

In [75]:
print('labels\n',X.columns)
print('Coefficients: \n', lm.coef_)
print('Intercept: \n', lm.intercept_)
print('R2 for Train)', lm.score( X_train, y_train ))
print('R2 for Test (cross validation)', lm.score(X_test, y_test))

labels
 Index(['RM', 'LSTAT', 'INDUS', 'PTRATIO', 'TAX'], dtype='object')
Coefficients:
 [ 4.42272838e+00 -5.32803009e-01  3.15109778e-02 -8.90751219e-01
 -2.92861007e-03]
Intercept:
 18.882178452947834
R2 for Train) 0.6724592120560979
R2 for Test (cross validation) 0.7021864228055904