In [60]:
#! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [61]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='white')
%matplotlib inline

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

Variabel explanation

CRIM     per capita crime rate by town

ZN       proportion of residential land zoned for lots over 25,000 sq.ft.

INDUS    proportion of non-retail business acres per town

CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)

NOX      nitric oxides concentration (parts per 10 million)

RM       average number of rooms per dwelling

AGE      proportion of owner-occupied units built prior to 1940

DIS      weighted distances to five Boston employment centres

RAD      index of accessibility to radial highways

TAX      full-value property-tax rate per $10,000

PTRATIO  pupil-teacher ratio by town

B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

LSTAT    % lower status of the population


---


MEDV     Median value of owner-occupied homes in $1000's

---

In [62]:
boston=load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [63]:
from sklearn import datasets

fnames = [ i for i in dir(datasets) if 'load_' in i]
print(fnames)

fname = 'load_boston'
loader = getattr(datasets,fname)()
df = pd.DataFrame(loader['data'],columns= loader['feature_names'])
df['target'] = loader['target']

['load_boston', 'load_breast_cancer', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [64]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [65]:
feature_sel=["RM","LSTAT","INDUS","PTRATIO","TAX","target"]
df=df[feature_sel]

In [66]:
X=df.loc[:, df.columns != 'target']
y=df["target"]

In [67]:
# Split training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=100)

In [68]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Fitting the model on the tarining set and running RFE to select top 10 variables 
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [69]:

predictions = lm.predict(X_test)
print(predictions.shape)
predictions

(102,)

array([35.38686741, 29.65376907, 21.98206466, 19.44087443, 21.01844807,
       27.50786767, 26.36241462, 23.97001279, 21.50587632, 19.8603087 ,
       27.06177092, 15.659686  , 22.66812811, 16.99539371, 37.91828283,
       27.60306748, 30.13538324, 17.17361546, 33.58799378, 40.49633485,
       33.40168982, 21.15692982, 19.85815092, 17.70679766, 13.46005743,
       15.81053784, 29.13604678, 18.23310886, 16.91177307, 21.74248867,
       17.14932074, 22.92457542, 38.80081923, 25.39976542, 29.79521851,
       31.02748554, 19.58390711, 19.20235997, 14.69917656, 22.35075693,
       24.64665523, 23.75966141, 16.69540596, 23.31180025, 29.93652647,
       29.2494574 , 18.56807049, 18.55027684, 16.05826807, 16.73653094,
       24.5255704 , 19.39203733, 25.40427934, 27.30374472,  9.69492662,
       13.51506027, 29.97516992, 31.946673  , 12.59023939, 22.45148385,
       18.18573293, 19.27458959, 22.06128745, 33.39159369, 22.8287963 ,
       25.03388327, 16.68370652, 30.61391285, 20.7101476 , 22.57229967,
       17.22416807, 18.5071372 ,  2.50761964, 16.72414433, 29.83621094,
       12.62488365, 25.97861795, 35.57532152,  9.42259855, 26.030188  ,
       34.81505608, 39.38568114, 14.6510152 , 18.88257438, 17.51607924,
       12.96889677, 24.78831136, 24.82091332, 14.89600886, 20.57815587,
       30.85139645, 22.09940625, 26.06938518, 25.63167569, 21.77385555,
       24.27581139, 20.43154443, 38.32133284, 16.73570722, 19.75292048,
       13.84162966, 15.43293435])

In [70]:
from sklearn import metrics

In [71]:
print("MAE:", metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
print('R2: ',r2_score(y_test, predictions))

MAE: 3.7718806246298415
MSE: 28.767102973462272
RMSE: 5.363497270761147
R2:  0.7021864228055898

In [73]:
import pickle
pickl = {'model': lm}
pickle.dump( pickl, open( 'model_file' + ".p", "wb" ) )